.footer {
  width: 100%;
  height: 300px;
  background-color: burlywood;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.footer-text {
  color: white;
  font-size: 40px;
}
.smicondiv {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.socialmediaicon {
  width: 20%;
  background-color: white;
  border-radius: 12px;
  transition: transform 0.3s ease;
}
.socialmediaicon:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
